.main-content {
  display: none;
}

/* =================================================
                NAVIGATION BAR STYLE
================================================== */
ul {
    padding-left: 0px;
}
ul.nav.nav-tabs {
    background-color: #333333;
    border: none;
}
ul.nav.nav-tabs li a {
    padding: 20px 15px;
    color: white;
    font-weight: 600;
}
ul.nav.nav-tabs li a:hover,
ul.nav.nav-tabs li a:focus,
ul.nav.nav-tabs li a.active-page {
    background: rgba(255, 255, 255, 0.8);
    color: #0033A0;
}
ul.nav.nav-tabs > li > a {
    border-radius: 0px;
}
ul.nav.nav-tabs > li {
    float: right;
    right: 100px;
}


/* =================================================
                SERVICE GRID STYLE
================================================== */
.service-grid .col-md-4 .service-box {
    background: rgba(0, 51, 160, 0.8);
    height: 265px;
    position: relative;
    margin: 0 auto;
    width: 95%;
    box-shadow: 5px 5px 5px !important;
}
.service-grid .col-md-4 {
    padding: 0px 0px;
}
.service-grid .col-md-4 .service-box:hover {
    box-shadow: none;
}
.service-box h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px #333;
    padding: 10px 0px;
}
.service-box {
  display: none;
  border-radius: 10px;
}
.service-grid .service-box .fa {
    color:  white;
    font-size: 15rem;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}
.service-grid .service-box:hover .fa {
    position: absolute;
    z-index: -1;
    opacity: 0;
    text-align: center;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}
.service-grid .service-box p {
    visibility: hidden;
    opacity: 0;
    padding-left: 3px;
    padding-right: 3px;
}
.service-grid .service-box:hover p {
    visibility: visible;
    position: absolute;
    opacity: 1;
    color: white;
    font-size: 25px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
}
.service-grid .col-md-4 a {
  text-decoration: none;
  color: #333;
}
.service-grid .col-md-4 a:hover,
.service-grid .col-md-4 a:focus {
  color: transparent;
}
.last-row {
  margin-bottom: 50px;
}

/* =================================================
                HOME STYLE
================================================== */
.full-width:nth-child(2n) {
  background: rgba(0, 51, 160, .8);
}
.full-width {
  padding: 50px 0px;
}
.full-width img {
  box-shadow: 5px 5px 5px #333;
  width: 100%;
}
.full-width:nth-child(2n) p {
  color: #fff;
}
.full-width:nth-child(2n) hr {
  border: 1px solid #fff;
}
.full-width:nth-child(2n + 1) hr {
  border: 1px solid #000000;
}
.full-width p, ul {
  font-size: 17px;
}
.full-width ul {
  padding-left: 10%;
}
.full-width h1 {
  font-size: 30pt;
  color: #000000;
  font-weight: 800;
  margin-bottom: 20px;
}
/* =================================================
                FOOTER STYLE
================================================== */
footer {
    background-color: #333333;
    padding: 20px 0px;
    position: relative;
}
footer a {
    color: white;
}
footer a:hover, footer a:focus {
    color: #0033A0;
}
footer a h5 {
    font-size: 18px;
    font-weight: bold;
}
footer h3, footer p {
   color: white;
}
footer .container h3,
footer .container h5 {
  margin-top: 0px;
}
input#tlemail {
    width: 60%;
    border: none;
    height: 40px;
}
footer input[type="submit"]{
    border: none;
    background-color: rgba(0, 51, 160, .8);
    color: white;
    width: 30%;
    height: 40px;
    padding-top: 0px;
}
footer input[type="submit"]:hover {
    cursor: pointer;
}
.newsletter-column h3,
.newsletter-column p {
    text-align: center;
}
.newsletter-column p {
    margin-top: 10px;
}

/* =================================================
                Gaming Page STYLE
================================================== */

.gaming-page > .row:nth-child(2n+1){
  background-color: rgba(0, 51, 160, .8);
  color: white;
}
.gaming-page .row{
  padding: 25px 0px;
}
.gaming-page .row p {
  font-size: 17px;
}
.schedule p {
  padding-bottom: 30px;
}
.gaming-page .row:nth-child(2n + 1) hr {
  border: 1px solid white;
}
.gaming-page .row hr {
  border: 1px solid black;
}
.gaming-page .btn-group{
  left: 0;
  padding-top: 10px;
  padding-bottom: 30px;
}
.gaming-page .fa-calendar {
  font-size: 15rem;
}

/* =================================================
                Contact Us Page STYLE
================================================== */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%;
    padding: 8px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 4px; /* Add a top margin */
    margin-bottom: 10px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=text]:focus, select:focus, textarea:focus {
    border: 1px solid #0033A0;
}
.container-contact input[type=submit] {
    background-color: #0033A0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.connected-info input[type=submit]:hover {
    background-color: rgba(0, 51, 160, .8);
}
.connected-info input[type=submit] {
    background-color: #0033A0;
    color: white;
    border: none;
    cursor: pointer;
    height: 40px;
    padding-top: 0px;
}
.text-and-button input[type="submit"]:hover,
.text-and-button input[type="submit"]:focus,
.container-contact input[type="submit"]:hover {
    background-color: rgba(0, 51, 160, .8);
}
.contact-page {
    padding-top: 20px;
    padding-bottom: 100px;
}
.contact-page h4 {
    padding-bottom: 40px;
    color: #A9A9A9;
    font-style: italic;
}
.connected-info h4 {
    padding-bottom: 0;
    color: #A9A9A9;
    font-style: normal;
}
.connected-info > h3 {
    padding-bottom: 10px;
    font-style: normal;
}
#gofundme-btn {
  background-color: #f7b231;
}
.text-and-button {
  top: 1px;
  width: 100%;
  height: 40px;
}
.text-and-button input[type="text"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #0033A0;
  font-weight: 800;
  font-size: 8pt;
}
.text-and-button input[type="submit"] {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.fa-facebook-square {
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 8rem;
    color: 	#3b5998;
    padding-right: 50px;
    padding-left: 20px;
}
.fa-twitter-square {
  font-size: 8rem;
  color: 	#00aced;
  padding-right: 50px;
}
.fa-youtube-square {
  font-size: 8rem;
  color: 	#bb0000;
}
.btn-group {
  left: 25%;
}

/* =================================================
                SERVICE Page STYLE
================================================== */

.package-box {
    background-color: #f2f2f2;
    box-shadow: 5px 5px 5px #333;
    padding: 10px 20px;
}
.package-box h1 {
    text-align: center;
}
.package-container {
    padding: 50px 0px;
}
.package-container h1 {
    margin-bottom: 50px;
}
.span12 h1 {
  text-align: center;
}
