ul.nav.nav-tabs {
    background-color: rgba(0, 51, 160, 0.8);
}
ul.nav.nav-tabs li a {
    padding: 20px 15px;
    color: white;
    font-weight: 600;
}
ul.nav.nav-tabs li a:hover,
ul.nav.nav-tabs li a:focus,
ul.nav.nav-tabs li a.active-page {
    background: rgba(255, 255, 255, 0.8);
    color: #0033A0;
}
ul.nav.nav-tabs > li > a {
    border-radius: 0px;
}
ul.nav.nav-tabs > li {
    float: right;
}


.service-grid .col-md-4 .service-box {
    background: rgba(0, 51, 160, 0.8);
    height: 300px;
    position: relative;
    margin: 0 auto;
    width: 95%;
    box-shadow: 5px 5px 5px !important;
}
.service-grid .col-md-4 {
    padding: 0px 0px;
}
.service-grid .col-md-4 .service-box:hover {
    box-shadow: none;
}
.service-box h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px #333;
    padding: 10px 0px;
}
.service-box {
  display: none;
}
.service-grid .service-box .fa {
    color:  white;
    font-size: 15rem;
}
.service-grid .col-md-4 a {
  text-decoration: none;
  color: #333;
}
.service-grid .col-md-4 a:hover,
.service-grid .col-md-4 a:focus {
  color: transparent;
}
