ul.nav.nav-tabs {
    background-color: rgba(0, 51, 160, 0.8);
}
ul.nav.nav-tabs li a {
    padding: 20px 15px;
    color: white;
    font-weight: 600;
}
ul.nav.nav-tabs li a:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #0033A0;
}
ul.nav.nav-tabs > li > a {
    border-radius: 0px;
}
ul.nav.nav-tabs > li {
    float: right;
}
